@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body{
  background: rgb(160, 255, 160) !important;
}

.wrapper{
  max-width: 350px;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 60px 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
}

.wrapper .title{
  margin-bottom: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #26643b;
}

.form{
  padding-top: 15px;
}

.wrapper .form .input_field{
  position: relative;
  margin-bottom: 10px;
}

.wrapper .form .input_field .input{
  width: 100%;
  padding: 12px;
  
  border: none;
  background: #eeeeee;
}


#sign-btn #sign{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: rgb(4, 68, 4);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}


#sign-btn #sign:hover{
  border-color: rgb(4, 68, 4);
  transition: .5s;
}








